Repository PartyGwam/api, pull requests merged in 2018-07, with the labels that each got.

#28 Chansoo
  api/profiles/serializers.py
  api/profiles/urls.py
  api/profiles/views.py
  api/users/serializers.py
  api/users/urls.py
  api/users/views.py
  apps/users/models.py
Labels: profiles, users, 새로운 기능

#29 Gyu
  api/comments/urls.py
  api/parties/comments/__init__.py
  api/parties/comments/permissions.py
  api/parties/comments/serializers.py
  api/parties/comments/urls.py
  api/parties/comments/views.py
  api/parties/owner/__init__.py
  api/parties/owner/permissions.py
  api/parties/owner/serializers.py
  api/parties/owner/urls.py
  api/parties/owner/views.py
  api/parties/participants/__init__.py
  api/parties/participants/serializers.py
  api/parties/participants/urls.py
  api/parties/participants/views.py
  api/parties/permissions.py
  api/parties/serializers.py
  api/parties/urls.py
  api/parties/views.py
  api/profiles/serializers.py
  api/users/permissions.py
  api/users/serializers.py
  api/users/urls.py
  api/users/views.py
  apps/comments/models.py
  apps/parties/migrations/0002_auto_20180702_1949.py
  apps/parties/models.py
  apps/users/models.py
  pg_rest_api/backends.py
  pg_rest_api/settings/components/auth.py
Labels: parties, profiles, users, 새로운 기능

#31 Gyu
  api/notifications/serializers.py
  api/notifications/urls.py
  api/notifications/views.py
  api/parties/comments/permissions.py
  api/parties/comments/urls.py
  api/parties/comments/views.py
  api/parties/participants/urls.py
  api/parties/participants/views.py
  api/parties/urls.py
  api/parties/views.py
  api/profiles/permissions.py
  api/profiles/serializers.py
  api/profiles/urls.py
  api/profiles/views.py
  api/users/forgot/__init__.py
  api/users/forgot/serializers.py
  api/users/forgot/urls.py
  api/users/forgot/views.py
  api/users/permissions.py
  api/users/serializers.py
  api/users/urls.py
  api/users/validate/__init__.py
  api/users/validate/serializers.py
  api/users/validate/urls.py
  api/users/validate/views.py
  api/users/views.py
  apps/notifications/migrations/0004_remove_notification_slug.py
  apps/notifications/models.py
  apps/profiles/models.py
Labels: enhancement, notifications, parties, profiles, users

#32 Develop
  api/comments/urls.py
  api/notifications/serializers.py
  api/notifications/urls.py
  api/notifications/views.py
  api/parties/comments/__init__.py
  api/parties/comments/permissions.py
  api/parties/comments/serializers.py
  api/parties/comments/urls.py
  api/parties/comments/views.py
  api/parties/owner/__init__.py
  api/parties/owner/permissions.py
  api/parties/owner/serializers.py
  api/parties/owner/urls.py
  api/parties/owner/views.py
  api/parties/participants/__init__.py
  api/parties/participants/serializers.py
  api/parties/participants/urls.py
  api/parties/participants/views.py
  api/parties/permissions.py
  api/parties/serializers.py
  api/parties/urls.py
  api/parties/views.py
  api/profiles/permissions.py
  api/profiles/serializers.py
  api/profiles/urls.py
  api/profiles/views.py
  api/users/forgot/__init__.py
  api/users/forgot/serializers.py
  api/users/forgot/urls.py
  api/users/forgot/views.py
  api/users/permissions.py
  api/users/serializers.py
  api/users/urls.py
  api/users/validate/__init__.py
  api/users/validate/serializers.py
  api/users/validate/urls.py
  api/users/validate/views.py
  api/users/views.py
  apps/comments/migrations/0002_auto_20180703_1950.py
  apps/comments/models.py
  apps/notifications/migrations/0002_remove_notification_slug.py
  apps/notifications/migrations/0003_notification_slug.py
  apps/notifications/migrations/0004_remove_notification_slug.py
  apps/notifications/models.py
  apps/parties/migrations/0002_auto_20180702_1949.py
  apps/parties/models.py
  apps/profiles/models.py
  apps/users/models.py
  pg_rest_api/backends.py
  pg_rest_api/settings/components/auth.py
Labels: 배포

#38 #37 - 404 핸들링 구현
  api/parties/pagination.py
Labels: parties

#39 #35 - 댓글 API 응답 엔티티 수정
  api/parties/comments/serializers.py
  api/parties/comments/views.py
  apps/comments/models.py
Labels: parties, 기능 수정

#40 Refactoring
  api/parties/owner/views.py
  api/parties/views.py
  api/profiles/serializers.py
  api/profiles/views.py
  apps/comments/migrations/0001_initial.py
  apps/comments/migrations/0002_auto_20180703_1950.py
  apps/comments/models.py
  apps/complains/migrations/0001_initial.py
  apps/notifications/migrations/0001_initial.py
  apps/notifications/migrations/0003_notification_slug.py
  apps/notifications/migrations/0004_remove_notification_slug.py
  apps/notifications/models.py
  apps/parties/migrations/0001_initial.py
  apps/parties/migrations/0002_auto_20180702_1949.py
  apps/parties/models.py
  apps/profiles/migrations/0001_initial.py
  apps/users/migrations/0001_initial.py
  apps/users/models.py
  pg_rest_api/middleware.py
  pg_rest_api/settings/__init__.py
Labels: Refactoring

#41 파티 API 루트 응답 엔티티 수정
  api/parties/serializers.py
Labels: Refactoring, parties, 기능 수정

#42 Develop
  api/parties/comments/serializers.py
  api/parties/comments/views.py
  api/parties/owner/views.py
  api/parties/pagination.py
  api/parties/serializers.py
  api/parties/views.py
  api/profiles/serializers.py
  api/profiles/views.py
  apps/comments/migrations/0001_initial.py
  apps/comments/migrations/0002_auto_20180703_1950.py
  apps/comments/models.py
  apps/complains/migrations/0001_initial.py
  apps/notifications/migrations/0001_initial.py
  apps/notifications/migrations/0003_notification_slug.py
  apps/notifications/migrations/0004_remove_notification_slug.py
  apps/notifications/models.py
  apps/parties/migrations/0001_initial.py
  apps/parties/migrations/0002_auto_20180702_1949.py
  apps/parties/models.py
  apps/profiles/migrations/0001_initial.py
  apps/users/migrations/0001_initial.py
  apps/users/models.py
  pg_rest_api/middleware.py
  pg_rest_api/settings/__init__.py
Labels: 배포

#45 #44 - 로그인 및 회원가입 API 응답 엔티티 수정
  .gitignore
  api/users/views.py
  apps/profiles/migrations/0002_auto_20180706_1752.py
  apps/profiles/models.py
Labels: bug, users, 기능 수정

#46 Develop
  .gitignore
  api/users/views.py
  apps/profiles/migrations/0002_auto_20180706_1752.py
  apps/profiles/models.py
Labels: 배포

#48 #34 - 로깅 미들웨어 수정
  pg_rest_api/middleware.py
  pg_rest_api/middleware/__init__.py
  pg_rest_api/middleware/logging.py
  pg_rest_api/middleware/response_formatting.py
  pg_rest_api/settings/components/middlewares.py
Labels: Refactoring, bug, 환경설정

#49 #47 - 내가 참여한 파티, 내가 주최한 파티 조회 기능 구현
  api/parties/comments/views.py
  api/parties/urls.py
  api/parties/views.py
Labels: parties, 새로운 기능

#50 #36 - 관리자 페이지 정상작동을 위한 모델 수정
  apps/parties/migrations/0003_auto_20180706_1326.py
  apps/parties/models.py
Labels: bug, parties, 기능 수정

#51 Develop
  api/parties/comments/views.py
  api/parties/urls.py
  api/parties/views.py
  apps/parties/migrations/0003_auto_20180706_1326.py
  apps/parties/models.py
  pg_rest_api/middleware.py
  pg_rest_api/middleware/__init__.py
  pg_rest_api/middleware/logging.py
  pg_rest_api/middleware/response_formatting.py
  pg_rest_api/settings/components/middlewares.py
Labels: 배포

#56 180709 버그 픽스
  api/parties/comments/views.py
  api/parties/owner/views.py
  api/parties/participants/views.py
  api/parties/views.py
  api/users/views.py
  apps/parties/models.py
  docs/apidocs/basic.md
  docs/apidocs/comments.md
  docs/apidocs/complains.md
  docs/apidocs/notifications.md
  docs/apidocs/parties.md
  docs/apidocs/users.md
  docs/database/0.1/schema-v0.1.png
  docs/database/0.2/schema-dev-v0.2.png
  docs/env.md
  docs/spec.md
Labels: bug, parties, users

#58 Issue #53 - 파일 업로드 기능 구현
  .gitignore
  api/profiles/serializers.py
  api/profiles/views.py
  apps/profiles/migrations/0003_auto_20180709_1426.py
  apps/profiles/models.py
  pg_rest_api/middleware/logging.py
  pg_rest_api/settings/components/staticfiles.py
  pg_rest_api/urls.py
Labels: bug, profiles

#60 Hotfix: 프로필 사진 변경 메소드 POST 로 변경
  api/profiles/urls.py
  api/profiles/views.py
Labels: bug, profiles

#62 Hotfix: 유저와 프로필 UUID 를 동일하게 설정
  api/profiles/serializers.py
  apps/profiles/migrations/0004_auto_20180710_2053.py
  apps/profiles/models.py
Labels: bug, profiles

#66 Hotfix: 프로필 사진 업로드 api url 변경
  api/profiles/urls.py
  api/profiles/views.py
Labels: bug, profiles

#67 Develop
  api/profiles/urls.py
  api/profiles/views.py
Labels: 배포

#68 Hotfix: 로그인 시 프로필 사진 full URL 나오게 수정
  api/users/views.py
  apps/comments/tests.py
  apps/complains/tests.py
  apps/notifications/tests.py
  apps/parties/tests.py
  apps/profiles/tests.py
  apps/users/tests.py
  pg_rest_api/settings/environments/development.py
  pg_rest_api/settings/environments/staging.py
Labels: bug, users

#69 180713 수정사항
  api/users/views.py
  apps/comments/tests.py
  apps/complains/tests.py
  apps/notifications/tests.py
  apps/parties/tests.py
  apps/profiles/tests.py
  apps/users/tests.py
  pg_rest_api/settings/environments/development.py
  pg_rest_api/settings/environments/staging.py
Labels: 배포

#71 Hotfix: #70 - 댓글 API 버그 수정
  api/parties/comments/serializers.py
  api/parties/comments/views.py
  api/parties/pagination.py
  api/parties/serializers.py
  api/parties/views.py
  apps/comments/models.py
  apps/notifications/models.py
  apps/parties/models.py
  apps/profiles/models.py
  apps/users/models.py
Labels: bug, parties

#72 180715 Hotfix
  api/parties/comments/serializers.py
  api/parties/comments/views.py
  api/parties/pagination.py
  api/parties/serializers.py
  api/parties/views.py
  apps/comments/models.py
  apps/notifications/models.py
  apps/parties/models.py
  apps/profiles/models.py
  apps/users/models.py
Labels: 배포

#73 Hotfix: Slug 길이 늘림
  apps/comments/migrations/0003_auto_20180715_1551.py
  apps/comments/models.py
  apps/parties/migrations/0004_auto_20180715_1551.py
  apps/parties/models.py
Labels: bug

#75 테스트 환경 구축
  .coveragerc
  .travis.yml
  README.md
  api/parties/owner/views.py
  api/parties/participants/views.py
  api/parties/views.py
  apps/parties/models.py
  apps/users/models.py
  requirements.txt
  tests/parties/__init__.py
  tests/parties/comments/__init__.py
  tests/parties/comments/test_model.py
  tests/parties/comments/test_view.py
  tests/parties/owner/__init__.py
  tests/parties/owner/test_view.py
  tests/parties/participants/__init__.py
  tests/parties/participants/test_view.py
  tests/parties/test_model.py
  tests/parties/test_view.py
  tests/profiles/__init__.py
  tests/profiles/test_model.py
  tests/profiles/test_view.py
  tests/users/__init__.py
  tests/users/test_model.py
  tests/users/test_view.py
Labels: 환경설정

#77 Hotfix: 파티 참여자 참여순으로 정렬 후 리턴
  api/parties/participants/serializers.py
  apps/parties/models.py
Labels: enhancement, parties

#78 Develop
  .coveragerc
  .travis.yml
  README.md
  api/parties/owner/views.py
  api/parties/participants/serializers.py
  api/parties/participants/views.py
  api/parties/views.py
  apps/parties/models.py
  apps/users/models.py
  requirements.txt
  tests/parties/__init__.py
  tests/parties/comments/__init__.py
  tests/parties/comments/test_model.py
  tests/parties/comments/test_view.py
  tests/parties/owner/__init__.py
  tests/parties/owner/test_view.py
  tests/parties/participants/__init__.py
  tests/parties/participants/test_view.py
  tests/parties/test_model.py
  tests/parties/test_view.py
  tests/profiles/__init__.py
  tests/profiles/test_model.py
  tests/profiles/test_view.py
  tests/users/__init__.py
  tests/users/test_model.py
  tests/users/test_view.py
Labels: 배포

#79 Gyu
  .travis.yml
  api/parties/comments/views.py
  api/parties/owner/views.py
  api/parties/participants/serializers.py
  api/parties/participants/views.py
  api/parties/views.py
  api/profiles/serializers.py
  api/profiles/views.py
  api/users/views.py
  apps/comments/models.py
  apps/notifications/models.py
  apps/parties/models.py
  apps/parties/participants/__init__.py
  apps/parties/participants/models.py
  apps/profiles/models.py
  apps/users/models.py
  tests/parties/comments/test_model.py
  tests/parties/comments/test_view.py
  tests/parties/owner/test_view.py
  tests/parties/test_model.py
  tests/parties/test_view.py
  tests/profiles/test_model.py
  tests/profiles/test_view.py
  tests/users/test_model.py
  tests/users/test_view.py
Labels: Refactoring, parties

#81 Hotfix: 파티 참여자 프로필 사진 링크 깨지는 현상 수정
  api/parties/participants/serializers.py
Labels: bug, parties

#82 Develop
  api/parties/participants/serializers.py
Labels: 배포

#83 Hotfix: 댓글 생성 시 응답 엔티티 더욱 자세히 나오게 수정
  api/parties/comments/views.py
Labels: enhancement, parties

#84 Develop
  api/parties/comments/views.py
Labels: 배포

#85 Hotfix: 댓글 상세 조회 안 되는 현상 수정
  api/parties/comments/views.py
  api/parties/owner/permissions.py
  api/parties/owner/views.py
  api/parties/participants/views.py
  api/parties/urls.py
  api/parties/views.py
  tests/parties/comments/test_view.py
  tests/parties/owner/test_view.py
  tests/parties/participants/test_view.py
  tests/parties/test_view.py
Labels: bug, parties

#86 Develop
  api/parties/comments/views.py
  api/parties/owner/permissions.py
  api/parties/owner/views.py
  api/parties/participants/views.py
  api/parties/urls.py
  api/parties/views.py
  tests/parties/comments/test_view.py
  tests/parties/owner/test_view.py
  tests/parties/participants/test_view.py
  tests/parties/test_view.py
Labels: 배포

#87 Hotfix: 댓글 작성순으로 조회 후 리턴
  api/parties/comments/views.py
Labels: enhancement, parties, 배포

#88 Gyu
  api/parties/comments/views.py
  api/parties/participants/serializers.py
  api/parties/views.py
  api/profiles/views.py
  api/urls.py
  api/users/validate/urls.py
  api/users/validate/views.py
  api/users/views.py
  apps/comments/models.py
  apps/parties/models.py
  pg_rest_api/urls.py
  tests/parties/comments/test_model.py
  tests/parties/test_model.py
Labels: bug, enhancement, parties

#89 Develop
  api/parties/comments/views.py
  api/parties/participants/serializers.py
  api/parties/views.py
  api/profiles/views.py
  api/urls.py
  api/users/validate/urls.py
  api/users/validate/views.py
  api/users/views.py
  apps/comments/models.py
  apps/parties/models.py
  pg_rest_api/urls.py
  tests/parties/comments/test_model.py
  tests/parties/test_model.py
Labels: 배포

#90 FCM 푸시 알림 활성화
  api/notifications/__init__.py
  api/notifications/serializers.py
  api/notifications/urls.py
  api/notifications/views.py
  api/parties/owner/views.py
  api/parties/participants/views.py
  api/parties/views.py
  api/urls.py
  api/users/serializers.py
  api/users/views.py
  api/utils.py
  apps/users/migrations/0002_user_fcm_token.py
  apps/users/models.py
  requirements.txt
  tests/parties/test_view.py
  tests/users/test_view.py
Labels: enhancement, notifications, parties

#91 Develop
  api/notifications/__init__.py
  api/notifications/serializers.py
  api/notifications/urls.py
  api/notifications/views.py
  api/parties/owner/views.py
  api/parties/participants/views.py
  api/parties/views.py
  api/urls.py
  api/users/serializers.py
  api/users/views.py
  api/utils.py
  apps/users/migrations/0002_user_fcm_token.py
  apps/users/models.py
  requirements.txt
  tests/parties/test_view.py
  tests/users/test_view.py
Labels: 배포

#92 FCM 푸시 알림 버그 수정
  Dockerfile
  api/parties/serializers.py
  api/utils.py
Labels: bug, notifications, parties

#93 알림 API 구현
  api/notifications/__init__.py
  api/notifications/pagination.py
  api/notifications/serializers.py
  api/notifications/urls.py
  api/notifications/views.py
  api/parties/comments/urls.py
  api/parties/owner/urls.py
  api/parties/owner/views.py
  api/parties/participants/urls.py
  api/parties/participants/views.py
  api/parties/urls.py
  api/parties/views.py
  api/profiles/urls.py
  api/urls.py
  api/users/serializers.py
  api/users/urls.py
  api/utils.py
  apps/notifications/migrations/0003_auto_20180720_1505.py
  apps/notifications/migrations/0004_remove_notification_is_read.py
  apps/notifications/models.py
  apps/users/models.py
  tests/users/test_view.py
Labels: enhancement, notifications

#94 Fix URL conf
  api/notifications/urls.py
Labels: bug, notifications
